In [ ]:
import pandas as pd
import numpy as np

# 1. 파일 경로 설정
file_path = r"C:\Users\KOREA Univ\OneDrive\기타\바탕 화면\workplace\3. 학위논문\backpain_28639사용.phe_participant.csv"

data = pd.read_csv(file_path)
data.columns = data.columns.str.strip()  # 열 이름 공백 제거

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189773 entries, 0 to 189772
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   eid        189773 non-null  int64
 1   p31        189773 non-null  object
 2   p34        189773 non-null  int64
 3   p21000_i0  189773 non-null  object
 4   p6138_i0   189474 non-null  object
 5   p738_i0    189354 non-null  object
 6   p29169     149572 non-null  object
 7   p29167     149572 non-null  object
 8   p29163     149572 non-null  object
 9   p29162     149572 non-null  object
 10  p30477     154549 non-null  object
 11  p29091     149995 non-null  object
 12  p30445     156557 non-null  object
 13  p30575     154900 non-null  object
 14  p28738     189773 non-null  object
 15  p28735     189773 non-null  object
 16  p28639     189773 non-null  object
dtypes: int64(2), object(15)
memory usage: 24.6+ MB

In [ ]:
# Column 명 변경
column_rename = {
   'eid': 'participant_id',
    'p28639': 'low_back_pain',
    'p31': 'sex',
    'p34': 'birth_year',
    'p21000_i0': 'ethnicity',
    'p6138_i0': 'education',
    'p738_i0': 'income',
    'p29169': 'occupation',
    'p29167': 'social_activity',
    'p29163': 'social_contacts_frequency',
    'p29162': 'household_size',
    'p30477': 'moderate_exercise_frequency',
    'p29091': 'alcohol_frequency',
    'p30445': 'sleep_hours',
    'p30575': 'fatigue_frequency',
    'p28738': 'feeling_depressed',
    'p28735': 'feeling_anxious',
}

In [ ]:
data.rename(columns=column_rename, inplace=True)
print(">> Updated column names:")
print(data.columns.tolist())

>> Updated column names:
['participant_id', 'sex', 'birth_year', 'ethnicity', 'education', 'income', 'occupation', 'social_activity', 'social_contacts_frequency', 'household_size', 'moderate_exercise_frequency', 'alcohol_frequency', 'sleep_hours', 'fatigue_frequency', 'feeling_depressed', 'feeling_anxious', 'low_back_pain']

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189773 entries, 0 to 189772
Data columns (total 17 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   participant_id               189773 non-null  int64
 1   sex                          189773 non-null  object
 2   birth_year                   189773 non-null  int64
 3   ethnicity                    189773 non-null  object
 4   education                    189474 non-null  object
 5   income                       189354 non-null  object
 6   occupation                   149572 non-null  object
 7   social_activity              149572 non-null  object
 8   social_contacts_frequency    149572 non-null  object
 9   household_size               149572 non-null  object
 10  moderate_exercise_frequency  154549 non-null  object
 11  alcohol_frequency            149995 non-null  object
 12  sleep_hours                  156557 non-null  object
 13  fatigue_frequency            154900 non-null  object
 14  feeling_depressed            189773 non-null  object
 15  feeling_anxious              189773 non-null  object
 16  low_back_pain                189773 non-null  object
dtypes: int64(2), object(15)
memory usage: 24.6+ MB

In [ ]:
# 변수별 고유값과 각 값의 빈도수 출력
for col in data.columns:
    print(f"\n>>> [ {col} ] 값 분포:")
    print(data[col].value_counts(dropna=False))

>>> [ participant_id ] 값 분포:
participant_id
6021329    1
1000020    1
1000199    1
1000894    1
1000925    1
          ..
1003004    1
1002887    1
1002861    1
1002697    1
1002442    1
Name: count, Length: 189773, dtype: int64

>>> [ sex ] 값 분포:
sex
Female    107829
Male       81944
Name: count, dtype: int64

>>> [ birth_year ] 값 분포:
birth_year
1947    10769
1948     9646
1946     9139
1949     8816
1950     8312
1951     8135
1952     7901
1953     7843
1954     7590
1944     7481
1955     7309
1956     6951
1945     6907
1957     6702
1958     6486
1959     6070
1943     5944
1960     5920
1961     5523
1962     5414
1963     5123
1942     5066
1964     4906
1965     4671
1966     4537
1941     3870
1967     3524
1940     3287
1939     2145
1968     1840
1969      977
1938      802
1937      105
1970       60
1936        2
Name: count, dtype: int64

>>> [ ethnicity ] 값 분포:
ethnicity
British                       172354
Any other white background      6741
Irish                           4447
Indian                          1180
Other ethnic group              1010
Caribbean                        815
Prefer not to answer             488
African                          477
Chinese                          460
Any other mixed background       340
White and Asian                  336
Any other Asian background       325
Pakistani                        220
White and Black Caribbean        196
White                            157
White and Black African          108
Do not know                       62
Bangladeshi                       24
Any other Black background        15
Mixed                             10
Asian or Asian British             6
Black or Black British             2
Name: count, dtype: int64

>>> [ education ] 값 분포:
education
College or University degree                                                                                                                                                27607
College or University degree|A levels/AS levels or equivalent|O levels/GCSEs or equivalent|Other professional qualifications eg: nursing, teaching                          20127
O levels/GCSEs or equivalent                                                                                                                                                19324
None of the above                                                                                                                                                           13573
College or University degree|A levels/AS levels or equivalent|O levels/GCSEs or equivalent                                                                                  12644
                                                                                                                                                                            ...
A levels/AS levels or equivalent|CSEs or equivalent|Other professional qualifications eg: nursing, teaching                                                                    41
College or University degree|A levels/AS levels or equivalent|CSEs or equivalent                                                                                               39
A levels/AS levels or equivalent|CSEs or equivalent|NVQ or HND or HNC or equivalent|Other professional qualifications eg: nursing, teaching                                    32
College or University degree|A levels/AS levels or equivalent|CSEs or equivalent|NVQ or HND or HNC or equivalent|Other professional qualifications eg: nursing, teaching       14
College or University degree|A levels/AS levels or equivalent|CSEs or equivalent|NVQ or HND or HNC or equivalent                                                               13
Name: count, Length: 66, dtype: int64

>>> [ income ] 값 분포:
income
31,000 to 51,999        50387
52,000 to 100,000       45963
18,000 to 30,999        39050
Less than 18,000        22312
Prefer not to answer    13936
Greater than 100,000    13494
Do not know              4212
NaN                       419
Name: count, dtype: int64

>>> [ occupation ] 값 분포:
occupation
Retired                                                                                                            87644
NaN                                                                                                                40201
Employed                                                                                                           22892
Self-employed                                                                                                       6889
Retired|Looking after the home                                                                                      5414
                                                                                                                   ...
Retired|Carer for close family member(s)|Unable to work due to sickness|Unemployed                                     1
Self-employed|Looking after the home|Carer for close family member(s)|Unable to work due to sickness|Unemployed        1
Employed|Self-employed|Retired|Carer for close family member(s)|Unpaid or voluntary work                               1
Looking after the home|Unable to work due to sickness|Unemployed|Unpaid or voluntary work                              1
Employed|Self-employed|Retired|Looking after the home|Carer for close family member(s)|Unpaid or voluntary work        1
Name: count, Length: 300, dtype: int64

>>> [ social_activity ] 값 분포:
social_activity
None of the above                                                                                                 48549
NaN                                                                                                               40201
Sports club or gym/fitness class                                                                                  22067
Other group activity                                                                                              19007
Pub or social club                                                                                                10036
Sports club or gym/fitness class|Other group activity                                                              9494
Religious group                                                                                                    7461
Sports club or gym/fitness class|Pub or social club                                                                6681
Religious group|Other group activity                                                                               4873
Pub or social club|Other group activity                                                                            3845
Sports club or gym/fitness class|Religious group                                                                   3227
Sports club or gym/fitness class|Pub or social club|Other group activity                                           2431
Sports club or gym/fitness class|Religious group|Other group activity                                              2002
Adult education class                                                                                              1561
Sports club or gym/fitness class|Adult education class                                                             1306
Adult education class|Other group activity                                                                         1210
Sports club or gym/fitness class|Adult education class|Other group activity                                        1016
Pub or social club|Religious group                                                                                  836
Pub or social club|Religious group|Other group activity                                                             621
Sports club or gym/fitness class|Pub or social club|Religious group                                                 528
Religious group|Adult education class|Other group activity                                                          359
Religious group|Adult education class                                                                               355
Sports club or gym/fitness class|Pub or social club|Religious group|Other group activity                            300
Sports club or gym/fitness class|Pub or social club|Adult education class                                           278
Pub or social club|Adult education class|Other group activity                                                       275
Sports club or gym/fitness class|Religious group|Adult education class                                              269
Pub or social club|Adult education class                                                                            236
Prefer not to answer                                                                                                220
Sports club or gym/fitness class|Pub or social club|Adult education class|Other group activity                      184
Sports club or gym/fitness class|Religious group|Adult education class|Other group activity                         178
Pub or social club|Religious group|Adult education class|Other group activity                                        48
Sports club or gym/fitness class|Pub or social club|Religious group|Adult education class                            42
Sports club or gym/fitness class|Pub or social club|Religious group|Adult education class|Other group activity       39
Pub or social club|Religious group|Adult education class                                                             38
Name: count, dtype: int64

>>> [ social_contacts_frequency ] 값 분포:
social_contacts_frequency
2-4 times a week         54706
NaN                      40201
Daily or almost daily    37632
About once a week        36476
About once a month       12687
Once every few months     6751
Never or almost never     1119
Prefer not to answer       201
Name: count, dtype: int64

>>> [ household_size ] 값 분포:
household_size
Me and one other                    96316
NaN                                 40201
Only me                             34752
More than two but less than five    16806
Five or more                         1620
Prefer not to answer                   78
Name: count, dtype: int64

>>> [ moderate_exercise_frequency ] 값 분포:
moderate_exercise_frequency
More than once a week    38897
NaN                      35224
3-4 times                34198
Daily                    31384
1-2 times                23634
Not at all               22413
Unable to exercise        3583
Prefer not to answer       440
Name: count, dtype: int64

>>> [ alcohol_frequency ] 값 분포:
alcohol_frequency
2 to 3 times a week       44692
4 or more times a week    40233
NaN                       39778
2 to 4 times a month      27436
Monthly or less           21984
Never                     15449
Prefer not to answer        201
Name: count, dtype: int64

>>> [ sleep_hours ] 값 분포:
sleep_hours
NaN     33216
420     29178
480     19665
360     18960
450     17604
        ...
100         1
810         1
1245        1
850         1
910         1
Name: count, Length: 158, dtype: int64

>>> [ fatigue_frequency ] 값 분포:
fatigue_frequency
0 days per week      72255
1-2 days per week    52889
NaN                  34873
3-4 days per week    15132
7 days per week       8432
5-6 days per week     6192
Name: count, dtype: int64

>>> [ feeling_depressed ] 값 분포:
feeling_depressed
Not at all                 150999
Several days                30640
More than half the days      3784
Nearly every day             3062
Prefer not to answer         1288
Name: count, dtype: int64

>>> [ feeling_anxious ] 값 분포:
feeling_anxious
Not at all                 136440
Several days                41722
Nearly every day             5634
More than half the days      5016
Prefer not to answer          961
Name: count, dtype: int64

>>> [ low_back_pain ] 값 분포:
low_back_pain
No                      142479
Yes                      46922
Do not know                299
Prefer not to answer        73
Name: count, dtype: int64

## **object -> int로 변경**

In [ ]:
# clean_and_map 함수 정의
def clean_and_map(column, mapping):
    data[column] = data[column].astype(str).str.strip().str.lower()
    data[column] = data[column].replace(mapping)
    data[column] = pd.to_numeric(data[column], errors="coerce").astype("Int64")

In [ ]:
# sex
clean_and_map("sex", {
    "male": 0,
    "female": 1
})

print(">>> [ sex ] 값 분포:")
print(data["sex"].value_counts(dropna=False))

>>> [ sex ] 값 분포:
sex
1    107829
0     81944
Name: count, dtype: Int64

In [ ]:
# low_back_pain
clean_and_map("low_back_pain", {
    "no": 0,
    "yes": 1,
    "do not know": np.nan,
    "prefer not to answer": np.nan
})

print(">>> [ low_back_pain ] 값 분포:")
print(data["low_back_pain"].value_counts(dropna=False))

>>> [ low_back_pain ] 값 분포:
low_back_pain
0       142479
1        46922
<NA>       372
Name: count, dtype: Int64

In [ ]:
# birth_year -> 2023년 기준 나이 계산 -> age 변수 삽입
data["age"] = 2023 - data["birth_year"].astype("Int64")

print(">>> [ age ] 값 분포:")
print(data["age"].value_counts().sort_index())

>>> [ age ] 값 분포:
age
53       60
54      977
55     1840
56     3524
57     4537
58     4671
59     4906
60     5123
61     5414
62     5523
63     5920
64     6070
65     6486
66     6702
67     6951
68     7309
69     7590
70     7843
71     7901
72     8135
73     8312
74     8816
75     9646
76    10769
77     9139
78     6907
79     7481
80     5944
81     5066
82     3870
83     3287
84     2145
85      802
86      105
87        2
Name: count, dtype: Int64

In [ ]:
# ethnicity
clean_and_map("ethnicity", {
    "british": 0,
    "any other white background": 0,
    "irish": 0,
    "indian": 1,
    "any other asian background": 2,
    "asian or asian british": 2,
    "pakistani": 1,
    "bangladeshi": 1,
    "chinese": 3,
    "caribbean": 4,
    "african": 4,
    "black or black british": 4,
    "any other black background": 4,
    "white": 0,
    "mixed": 5,
    "white and asian": 5,
    "white and black caribbean": 5,
    "white and black african": 5,
    "any other mixed background": 5,
    "other ethnic group": 6,
    "prefer not to answer": np.nan,
    "do not know": np.nan
})

data["ethnicity"] = pd.to_numeric(data["ethnicity"], errors="coerce").astype("Int64")

print(">>> [ ethnicity ] 값 분포 (after mapping):")
print(data["ethnicity"].value_counts(dropna=False))

>>> [ ethnicity ] 값 분포 (after mapping):
ethnicity
0       183699
1         1424
4         1309
6         1010
5          990
<NA>       550
3          460
2          331
Name: count, dtype: Int64

In [ ]:
print(">>> [ occupation ] 값 분포:")
print(data["occupation"].value_counts(dropna=False))

>>> [ occupation ] 값 분포:
occupation
Retired                                                                                                            87644
NaN                                                                                                                40201
Employed                                                                                                           22892
Self-employed                                                                                                       6889
Retired|Looking after the home                                                                                      5414
                                                                                                                   ...
Retired|Carer for close family member(s)|Unable to work due to sickness|Unemployed                                     1
Self-employed|Looking after the home|Carer for close family member(s)|Unable to work due to sickness|Unemployed        1
Employed|Self-employed|Retired|Carer for close family member(s)|Unpaid or voluntary work                               1
Looking after the home|Unable to work due to sickness|Unemployed|Unpaid or voluntary work                              1
Employed|Self-employed|Retired|Looking after the home|Carer for close family member(s)|Unpaid or voluntary work        1
Name: count, Length: 300, dtype: int64

In [ ]:
# occupation
def map_occupation(val):
    if pd.isna(val):
        return np.nan
    val = val.lower().strip()
    if "self-employed" in val:
        return 2
    elif "employed" in val:
        return 1
    else:
        return 0

# 적용
data["occupation"] = data["occupation"].apply(map_occupation).astype("Int64")

# 결과 확인
print(">>> [ occupation ] 값 분포 (after mapping):")
print(data["occupation"].value_counts(dropna=False))

>>> [ occupation ] 값 분포 (after mapping):
occupation
0       111766
<NA>     40201
1        27240
2        10566
Name: count, dtype: Int64

In [ ]:
print(">>> [ education ] 값 분포:")
print(data["education"].value_counts(dropna=False))

>>> [ education ] 값 분포:
education
College or University degree                                                                                                                                                27607
College or University degree|A levels/AS levels or equivalent|O levels/GCSEs or equivalent|Other professional qualifications eg: nursing, teaching                          20127
O levels/GCSEs or equivalent                                                                                                                                                19324
None of the above                                                                                                                                                           13573
College or University degree|A levels/AS levels or equivalent|O levels/GCSEs or equivalent                                                                                  12644
                                                                                                                                                                            ...
A levels/AS levels or equivalent|CSEs or equivalent|Other professional qualifications eg: nursing, teaching                                                                    41
College or University degree|A levels/AS levels or equivalent|CSEs or equivalent                                                                                               39
A levels/AS levels or equivalent|CSEs or equivalent|NVQ or HND or HNC or equivalent|Other professional qualifications eg: nursing, teaching                                    32
College or University degree|A levels/AS levels or equivalent|CSEs or equivalent|NVQ or HND or HNC or equivalent|Other professional qualifications eg: nursing, teaching       14
College or University degree|A levels/AS levels or equivalent|CSEs or equivalent|NVQ or HND or HNC or equivalent                                                               13
Name: count, Length: 66, dtype: int64

In [ ]:
# education
def map_education(val):
    if pd.isna(val):
        return np.nan
    val = val.lower().strip()

    if "prefer not to answer" in val:
        return np.nan
    elif "college or university degree" in val:
        return 4
    elif "nvq or hnd or hnc or equivalent" in val:
        return 3
    elif "a levels/as levels or equivalent" in val:
        return 2
    elif "o levels/gcses or equivalent" in val or "cse" in val:
        return 1
    elif "none of the above" in val:
        return 0
    else:
        return np.nan

# 적용
data["education"] = data["education"].apply(map_education).astype("Int64")

# 결과 확인
print(">>> [ education ] 값 분포 (after mapping):")
print(data["education"].value_counts(dropna=False))

>>> [ education ] 값 분포 (after mapping):
education
4       83285
1       35475
3       27918
2       19222
0       13573
<NA>    10300
Name: count, dtype: Int64

In [ ]:
# income
clean_and_map("income", {
    "less than 18,000": 0,
    "18,000 to 30,999": 1,
    "31,000 to 51,999": 2,
    "52,000 to 100,000": 3,
    "greater than 100,000": 4,
    "prefer not to answer": np.nan,
    "do not know": np.nan
})

# 정수형 변환
data["income"] = pd.to_numeric(data["income"], errors="coerce").astype("Int64")

# 결과 확인
print(">>> [ income ] 값 분포 (after mapping):")
print(data["income"].value_counts(dropna=False))

>>> [ income ] 값 분포 (after mapping):
income
2       50387
3       45963
1       39050
0       22312
<NA>    18567
4       13494
Name: count, dtype: Int64

In [ ]:
# social_activity
def map_social_activity(value):
    if pd.isna(value):
        return np.nan
    value = value.strip().lower()
    if "none of the above" in value:
        return 0
    if "prefer not to answer" in value:
        return np.nan
    return 1

data["social_activity"] = data["social_activity"].apply(map_social_activity).astype("Int64")

print(">>> [ social_activity ] 값 분포 (after mapping):")
print(data["social_activity"].value_counts(dropna=False))

>>> [ social_activity ] 값 분포 (after mapping):
social_activity
1       100803
0        48549
<NA>     40421
Name: count, dtype: Int64

In [ ]:
# social_contacts_frequency
clean_and_map("social_contacts_frequency", {
    "never or almost never": 0,
    "once every few months": 1,
    "about once a month": 2,
    "about once a week": 3,
    "2-4 times a week": 4,
    "daily or almost daily": 5,
    "prefer not to answer": np.nan
})


data["social_contacts_frequency"] = (
    pd.to_numeric(data["social_contacts_frequency"], errors="coerce")
    .astype("Int64")
)

# 결과 확인
print(">>> [ social_contacts_frequency ] 값 분포 (after mapping):")
print(data["social_contacts_frequency"].value_counts(dropna=False))

>>> [ social_contacts_frequency ] 값 분포 (after mapping):
social_contacts_frequency
4       54706
<NA>    40402
5       37632
3       36476
2       12687
1        6751
0        1119
Name: count, dtype: Int64

In [ ]:
# household_size
clean_and_map("household_size", {
    "only me": 0,
    "me and one other": 1,
    "more than two but less than five": 2,
    "five or more": 3,
    "prefer not to answer": np.nan
})

# 정수형으로 변환
data["household_size"] = (
    pd.to_numeric(data["household_size"], errors="coerce")
    .astype("Int64")
)

# 결과 확인
print(">>> [ household_size ] 값 분포 (after mapping):")
print(data["household_size"].value_counts(dropna=False))

>>> [ household_size ] 값 분포 (after mapping):
household_size
1       96316
<NA>    40279
0       34752
2       16806
3        1620
Name: count, dtype: Int64

In [ ]:
# moderate_exercise_frequency
clean_and_map("moderate_exercise_frequency", {
    "daily": 4,
    "more than once a week": 3,
    "3-4 times": 2,
    "1-2 times": 1,
    "not at all": 0,
    "unable to exercise": 0,
    "prefer not to answer": np.nan
})

# 정수형으로 변환
data["moderate_exercise_frequency"] = (
    pd.to_numeric(data["moderate_exercise_frequency"], errors="coerce")
    .astype("Int64")
)

# 결과 확인
print(">>> [ moderate_exercise_frequency ] 값 분포 (after mapping):")
print(data["moderate_exercise_frequency"].value_counts(dropna=False))

>>> [ moderate_exercise_frequency ] 값 분포 (after mapping):
moderate_exercise_frequency
3       38897
<NA>    35664
2       34198
4       31384
0       25996
1       23634
Name: count, dtype: Int64

In [ ]:
# alcohol_frequency
clean_and_map("alcohol_frequency", {
    "never": 0,
    "monthly or less": 1,
    "2 to 4 times a month": 2,
    "2 to 3 times a week": 3,
    "4 or more times a week": 4,
    "prefer not to answer": np.nan
})

# 정수형으로 변환
data["alcohol_frequency"] = (
    pd.to_numeric(data["alcohol_frequency"], errors="coerce")
    .astype("Int64")
)

# 결과 확인
print(">>> [ alcohol_frequency ] 값 분포 (after mapping):")
print(data["alcohol_frequency"].value_counts(dropna=False))

>>> [ alcohol_frequency ] 값 분포 (after mapping):
alcohol_frequency
3       44692
4       40233
<NA>    39979
2       27436
1       21984
0       15449
Name: count, dtype: Int64

In [ ]:
# fatigue_frequency
clean_and_map("fatigue_frequency", {
    "0 days per week": 0,
    "1-2 days per week": 1,
    "3-4 days per week": 2,
    "5-6 days per week": 3,
    "7 days per week": 4
})

# 정수형으로 변환 (결측치 유지)
data["fatigue_frequency"] = pd.to_numeric(data["fatigue_frequency"], errors="coerce").astype("Int64")

# 결과 확인
print(">>> [ fatigue_frequency ] 값 분포 (after mapping):")
print(data["fatigue_frequency"].value_counts(dropna=False))

>>> [ fatigue_frequency ] 값 분포 (after mapping):
fatigue_frequency
0       72255
1       52889
<NA>    34873
2       15132
4        8432
3        6192
Name: count, dtype: Int64

In [ ]:
# feeling_depressed
clean_and_map("feeling_depressed", {
    "not at all": 0,
    "several days": 1,
    "more than half the days": 2,
    "nearly every day": 3,
    "prefer not to answer": np.nan
})

# 정수형으로 변환 (결측값 유지)
data["feeling_depressed"] = pd.to_numeric(data["feeling_depressed"], errors="coerce").astype("Int64")

# 결과 확인
print(">>> [ feeling_depressed ] 값 분포 (after mapping):")
print(data["feeling_depressed"].value_counts(dropna=False))

>>> [ feeling_depressed ] 값 분포 (after mapping):
feeling_depressed
0       150999
1        30640
2         3784
3         3062
<NA>      1288
Name: count, dtype: Int64

In [ ]:
# feeling_anxious
clean_and_map("feeling_anxious", {
    "not at all": 0,
    "several days": 1,
    "more than half the days": 2,
    "nearly every day": 3,
    "prefer not to answer": np.nan
})

# 정수형으로 변환 (결측치 유지)
data["feeling_anxious"] = pd.to_numeric(data["feeling_anxious"], errors="coerce").astype("Int64")

# 결과 확인
print(">>> [ feeling_anxious ] 값 분포 (after mapping):")
print(data["feeling_anxious"].value_counts(dropna=False))

>>> [ feeling_anxious ] 값 분포 (after mapping):
feeling_anxious
0       136440
1        41722
3         5634
2         5016
<NA>       961
Name: count, dtype: Int64

C:\Users\KOREA Univ\AppData\Local\Temp\ipykernel_9952\2800288724.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column] = data[column].replace(mapping)

In [ ]:
# sleep_hours : 현재 '분'(문자열)로 되어 있음 -> '시간'(정수형)으로 변환
data["sleep_hours"] = pd.to_numeric(data["sleep_hours"], errors="coerce")
data.loc[(data["sleep_hours"] < 60) | (data["sleep_hours"] > 960), "sleep_hours"] = np.nan #이상한 값 처리
data["sleep_hours"] = np.ceil(data["sleep_hours"] / 60).astype("Int64")

print(">>> [ sleep_hours ] 값 분포 (after ceil to integer hours):")
print(data["sleep_hours"].value_counts(dropna=False).sort_index())
print("\nData type:", data["sleep_hours"].dtype)

>>> [ sleep_hours ] 값 분포 (after ceil to integer hours):
sleep_hours
1           7
2          80
3         318
4        2070
5        9792
6       27055
7       51690
8       47506
9       14057
10       2256
11        315
12         75
13         23
14         10
15          3
16          4
<NA>    34512
Name: count, dtype: Int64

Data type: Int64

In [ ]:
# 현재 코드 결 유지해서 다른 데이터 파일로 저장
# 저장 경로와 파일 이름 설정
save_path = r"C:\Users\KOREA Univ\OneDrive\기타\바탕 화면\workplace\3. 학위논문\backpain_28639사용.phe_participant_숫자변환.csv"
data.to_csv(save_path, index=False)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189773 entries, 0 to 189772
Data columns (total 18 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   participant_id               189773 non-null  int64
 1   sex                          189773 non-null  Int64
 2   birth_year                   189773 non-null  int64
 3   ethnicity                    189223 non-null  Int64
 4   education                    179473 non-null  Int64
 5   income                       171206 non-null  Int64
 6   occupation                   149572 non-null  Int64
 7   social_activity              149352 non-null  Int64
 8   social_contacts_frequency    149371 non-null  Int64
 9   household_size               149494 non-null  Int64
 10  moderate_exercise_frequency  154109 non-null  Int64
 11  alcohol_frequency            149794 non-null  Int64
 12  sleep_hours                  155261 non-null  Int64
 13  fatigue_frequency            154900 non-null  Int64
 14  feeling_depressed            188485 non-null  Int64
 15  feeling_anxious              188812 non-null  Int64
 16  low_back_pain                189401 non-null  Int64
 17  age                          189773 non-null  Int64
dtypes: Int64(16), int64(2)
memory usage: 29.0 MB

In [ ]:
data.drop(columns="birth_year", inplace=True) # birth_year 변수 제거
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189773 entries, 0 to 189772
Data columns (total 17 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   participant_id               189773 non-null  int64
 1   sex                          189773 non-null  Int64
 2   ethnicity                    189223 non-null  Int64
 3   education                    179473 non-null  Int64
 4   income                       171206 non-null  Int64
 5   occupation                   149572 non-null  Int64
 6   social_activity              149352 non-null  Int64
 7   social_contacts_frequency    149371 non-null  Int64
 8   household_size               149494 non-null  Int64
 9   moderate_exercise_frequency  154109 non-null  Int64
 10  alcohol_frequency            149794 non-null  Int64
 11  sleep_hours                  155261 non-null  Int64
 12  fatigue_frequency            154900 non-null  Int64
 13  feeling_depressed            188485 non-null  Int64
 14  feeling_anxious              188812 non-null  Int64
 15  low_back_pain                189401 non-null  Int64
 16  age                          189773 non-null  Int64
dtypes: Int64(16), int64(1)
memory usage: 27.5 MB
None

In [ ]:
# 현재 코드 결 유지해서 다른 데이터 파일로 저장_birth_year 제외
save_path = r"C:\Users\KOREA Univ\OneDrive\기타\바탕 화면\workplace\3. 학위논문\backpain_28639사용.phe_participant_숫자변환_birth제거.csv"
data.to_csv(save_path, index=False)

In [ ]:
print(">>> [ low_back_pain ] 값 분포:")
print(data["low_back_pain"].value_counts(dropna=False))

>>> [ low_back_pain ] 값 분포:
low_back_pain
0       142479
1        46922
<NA>       372
Name: count, dtype: Int64

In [ ]:
# low_back_pain에서 결측값을 가진 행(row) 을 제거 >>> 372명 제거
data = data[data["low_back_pain"].notna()]
print(f"남은 행 개수: {len(data)}")
print(data["low_back_pain"].value_counts(dropna=False))

남은 행 개수: 189401
low_back_pain
0    142479
1     46922
Name: count, dtype: Int64

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 189401 entries, 0 to 189772
Data columns (total 17 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   participant_id               189401 non-null  int64
 1   sex                          189401 non-null  Int64
 2   ethnicity                    188858 non-null  Int64
 3   education                    179127 non-null  Int64
 4   income                       170911 non-null  Int64
 5   occupation                   149331 non-null  Int64
 6   social_activity              149115 non-null  Int64
 7   social_contacts_frequency    149136 non-null  Int64
 8   household_size               149257 non-null  Int64
 9   moderate_exercise_frequency  153863 non-null  Int64
 10  alcohol_frequency            149555 non-null  Int64
 11  sleep_hours                  155015 non-null  Int64
 12  fatigue_frequency            154645 non-null  Int64
 13  feeling_depressed            188155 non-null  Int64
 14  feeling_anxious              188479 non-null  Int64
 15  low_back_pain                189401 non-null  Int64
 16  age                          189401 non-null  Int64
dtypes: Int64(16), int64(1)
memory usage: 28.9 MB
None

## **MICE 통해 결측치 대체**      
> 범주형변수: 결측 모두 제거
> 연속형변수: sleep_hours, age만 MICE 대체

In [ ]:
print("\n>>> Missing values per column:")
print(data.isnull().sum())

>>> Missing values per column:
participant_id                     0
sex                                0
ethnicity                        543
education                      10274
income                         18490
occupation                     40070
social_activity                40286
social_contacts_frequency      40265
household_size                 40144
moderate_exercise_frequency    35538
alcohol_frequency              39846
sleep_hours                    34386
fatigue_frequency              34756
feeling_depressed               1246
feeling_anxious                  922
low_back_pain                      0
age                                0
dtype: int64

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import numpy as np

# MICE 대상 변수 (participant_id 제외)
target_columns = data.columns.drop(['participant_id'])

# 1. MICE 대체
imputer = IterativeImputer(max_iter=20, random_state=0)
imputed_data = imputer.fit_transform(data[target_columns])

# 2. 데이터프레임 재구성
imputed_df = pd.DataFrame(imputed_data, columns=target_columns)

# 3. 범주형 변수 정수 변환 (반올림)
categorical_columns = target_columns.drop(['sleep_hours', 'age'])
imputed_df[categorical_columns] = np.round(imputed_df[categorical_columns]).astype(int)

# 4. sleep_hours 소수 2자리로 유지
imputed_df['sleep_hours'] = imputed_df['sleep_hours'].round(2)

# 5. participant_id 병합
imputed_df['participant_id'] = data['participant_id'].values

In [ ]:
imputed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189401 entries, 0 to 189400
Data columns (total 17 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   sex                          189401 non-null  int64
 1   ethnicity                    189401 non-null  int64
 2   education                    189401 non-null  int64
 3   income                       189401 non-null  int64
 4   occupation                   189401 non-null  int64
 5   social_activity              189401 non-null  int64
 6   social_contacts_frequency    189401 non-null  int64
 7   household_size               189401 non-null  int64
 8   moderate_exercise_frequency  189401 non-null  int64
 9   alcohol_frequency            189401 non-null  int64
 10  sleep_hours                  189401 non-null  float64
 11  fatigue_frequency            189401 non-null  int64
 12  feeling_depressed            189401 non-null  int64
 13  feeling_anxious              189401 non-null  int64
 14  low_back_pain                189401 non-null  int64
 15  age                          189401 non-null  float64
 16  participant_id               189401 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 24.6 MB

In [ ]:
save_path = r"C:\Users\KOREA Univ\OneDrive\기타\바탕 화면\workplace\3. 학위논문\backpain_28639사용_결측처리(모두MICE).csv"
imputed_df.to_csv(save_path, index=False)

In [ ]:
infor.data()

NameError: name 'infor' is not defined